$accordion-height: 45px;
$mobile-large: 14px;

.accordion-button {
  @include button($mobile-large, $accordion-height);

  padding: 0 20px 0 20px;
  border-top: 1px solid $black;
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
  
  &:first-child {
    border-top: none;
  }

  &:after {
    content: "\002B";
    color: $grey;
    font-weight: 400;
    float: right;
    margin-left: 5px;
  }
  
  &.active:after {
    content: "\2212";
  }
}
