$tab-width: 185px;
$tab-height: 38px;

$medium: 18px;

.tabs {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .tab-button {
    width: $tab-width;
    height: $tab-height;
    cursor: pointer;
  
    font-size: $medium;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: $tab-height;
    // letter-spacing: 2px; // fixme ??

    color: $black;
    transition: 0.3s ease-in;

    &:nth-child(2) {
      border-left: 1px solid $black;
      border-right: 1px solid $black;
    }

    // fixme cool hover?
    &:hover {
      // color: $white;
      // background-color: $grey;
    }

    &.active {
      color: $white;
      background-color: $black;
    }
  }
}
