$tab-width: 185px;
$tab-height: 38px;
$medium: 18px;

.tabs {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .tab-button {
    @include button($medium, $tab-height);

    width: $tab-width;
    text-align: center;
    color: $black;
    transition: 0.3s ease-in;
    // letter-spacing: 2px; // fixme ??

    &:hover {
      color: $white;
      text-shadow: 1px 1px 5px $grey;
    }

    &.active {
      color: $white;
      background-color: $black;
    }

    &:nth-child(2) {
      border-left: 1px solid $black;
      border-right: 1px solid $black;
    }
  }
}
