$black: #000;
$grey: #323232;
$white: #fff;
$font-stack: Open Sans, sans-serif;
$small: 13px;
$medium: 18px;
$large: 21px;
$x-large: 40px; // fixme

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $grey;
  font-family: $font-stack;
  font-size: $small;
}
