$container-height: 500px;
$component-width: 668px;

#container {
  display: flex;
  justify-content: center;

  height: $container-height;
  padding: 75px 0 75px 0;

  @media screen and (max-width: 767px) {
    height: auto;
    padding: 0 0 0 0;
  }

  #component {
    width: $component-width;
  
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
