@mixin button($fz, $hgt) {
  cursor: pointer;
  height: $hgt;
  line-height: $hgt;
  font-size: $fz;
  font-weight: 700;
  text-transform: uppercase;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
