.content-container {
  padding-top: 56px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  .content {
    display: none;
    text-align: center;
    line-height: 1.2;
    padding: 0 20px;

    -webkit-animation: fadeEffect 1s ease-in;
    animation: fadeEffect 1s ease-in;

    @media screen and (max-width: 767px) {
      display: block;
      -webkit-animation: none;
      animation: none;

      overflow: hidden;
      max-height: 0;
      transition: 1s ease-out;
    }

    &.active {
      display: block;

      @media screen and (max-width: 767px) {
        padding-top: 8px;
        padding-bottom: 20px;
        max-height: calc(100vh - 45px * 3 - 2px - 28px);
      }
    }
  }
}
