// Reset
@import "./reset.scss";

// Base
$font-stack: Open Sans, sans-serif;
$primary-color: #000;
$secondary-color: #fff;
// @import "./mixins.scss";

body {
  font-family: $font-stack;
  color: $primary-color;
}

// Component



// Layout
@import "./layout.scss";
